{% load static %}
<!doctype html>
<html lang="ja">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'fonts/icomoon/style.css' %}">

    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

    <!-- Style -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!-- google login css-->
    <link rel="stylesheet" href="{% static 'css/google.css' %}" />
    <title>Login #6</title>
</head>

<body>


    <div class="d-lg-flex half">
        <div class="bg order-1 order-md-2" style="background-image: url('/static/images/bg_1.jpg');"></div>
        <div class="contents order-2 order-md-1">

            <div class="container">
                <div class="row align-items-center justify-content-center">
                    <div class="col-md-7">
                        <div class="mb-4">
                            <h3>Sign In</h3>
                            <p class="mb-4">django-social-auth</p>
                        </div>
                        <form action="#" method="post">



                            <div class="social-login">
                                <a href="{% url 'social:begin' 'google-oauth2' %}"
                                    class="google btn d-flex justify-content-center align-items-center">
                                    <span class="icon-google mr-3"></span> Sign in with Google
                                </a>
                            </div>

                            <div class="row">
                                <div class="col-md-8 mx-auto my-2 order-md-1">
                                    <button class="login-with-google-btn">
                                        <a href="{% url 'social:begin' 'google-oauth2' %}"> Sign in with Google</a>
                                    </button>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>


    </div>



    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
</body>

</html>